{% extends 'base.html' %}
{% block body %}
<header class="header">
    <div class="">
        <img src="{{ url_for('static', filename='images/education.jpg') }}" style="width: 100%; border: 1px solid #513928" alt="education">
    </div>
    
</header>
<section class="" id="">
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5 ">
                <h4 class="text-brown">Мої дисципліни:</h4>
                <table class="table table-secondary" >
            
                    <tbody>
                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                        </tr>
                    <tr>
                        <th scope="row">●</th>
                        <td>Веб-програмування</td>
                        <td>Ця дисципліна зосереджена на створенні веб-додатків та сайтів за допомогою різних технологій, які дозволяють взаємодіяти з користувачами через Інтернет.</td>
                    </tr>
                    <tr>
                        <th scope="row">●</th>
                        <td>Основи ШІ</td>
                        <td>Ця дисципліна вивчає основні поняття та методи розробки систем, які можуть аналізувати інформацію та приймати рішення, схожі на людський інтелект.</td>
                    </tr>
                    <tr>
                        <th scope="row">●</th>
                        <td>Англійська</td>
                        <td>Ця дисципліна спрямована на вивчення англійської мови, яка є однією з найпоширеніших мов у світі і важливою для комунікації та сприйняття світової інформації.</td>
                    </tr>
                    <tr>
                        <th scope="row">●</th>
                        <td>Людино-машинна взаємодія</td>
                        <td>Ця дисципліна досліджує, як користувачі взаємодіють з комп'ютерами та іншими пристроями, зокрема дизайн і розробку інтерфейсів для поліпшення цієї взаємодії.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 offset-md-1">
                <h4 class="text-brown ">Мій університет:</h4>
                
                <p class="mt-4"><hr class="bg-brown">Прикарпатський національний університет імені Василя Стефаника є одним з найстаріших вищих навчальних закладів Івано-Франківської області.</p>
                <p>Успішність університету відображена в національних та міжнародних рейтингах вищих навчальних закладів таких як Міжнародний рейтинг «QS World Universiti Ranking», «Топ-200 Україна», рейтинг вищих навчальних закладів України за показниками наукометричної бази даних Scopus.
                </p>
                <p>Університет реалізує 12 безкоштовних магістерських програм подвійних дипломів із навчальними закладами Республіки Польща.

                    Науковці університету беруть участь у міжнародних освітніх проектах, програмах, конкурсах, проводять стажування в закордонних університетах. Реалізовуються міжнародні освітні проєкти та програми, ведеться пошук грантодавців. З іншого боку, з метою проведення для студентів лекцій, тренінгів, воркшопів, проходження стажувань до нашого вишу приїжджають науковці та представники дипломатичних установ.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}